body {
	font-family: Arial, sans-serif;
	background-color: #f1f1f1;
	color: #333;
	margin: 20px;
	padding: 0;
}

h2 {
	color: #007bff;
	margin-top: 0;
	margin-bottom: 20px;
}

.company-card {
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s ease;
}

.company-card:hover {
	box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}

.company-card h3 {
	color: #007bff;
	margin-top: 0;
}

.company-card p {
	margin: 0;
}

.service-card {
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s ease;
}

.service-card:hover {
	box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}

.service-card h3 {
	color: #007bff;
	margin-top: 0;
}

.service-card p {
	margin: 0;
}

.employee-card {
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 10px;
	margin-bottom: 10px;
}

.employee-card p {
	margin: 0;
}

form {
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 20px;
	margin-top: 20px;
}

form label {
	display: block;
	margin-bottom: 10px;
}

form input[type="date"],
form input[type="time"],
form input[type="text"],
form input[type="email"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

form button[type="submit"] {
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 4px;
}

form button[type="submit"]:hover {
	background-color: #0069d9;
}

.companies-list-layout {
	display: grid;
	grid-template-rows: min-content 20px auto;
	grid-template-columns: 1fr;
	height: calc(100vh - 40px);
}

.companies-list-top {
	grid-area: 1 / 1 / 2 / 2;
	overflow: auto;
}

.companies-list-bottom {
	grid-area: 3 / 1 / 4 / 2;
	overflow: auto;
}

.split-layout {
	display: grid;
	grid-template-rows: min-content 20px min-content auto;
	grid-template-columns: calc(30% - 10px) 20px calc(70% - 10px);
	height: calc(100vh - 40px);
}

.top-pane {
	grid-area: 1 / 1 / 2 / 3;
	overflow: auto;
}

.left-top-pane {
	grid-area: 3 / 1 / 4 / 2;
	overflow: auto;
}

.left-bottom-pane {
	grid-area: 4 / 1 / 5 / 2;
	overflow: auto;
}

.right-top-pane {
	grid-area: 3 / 3 / 4 / 4;
	overflow: auto;
}

.right-bottom-pane {
	grid-area: 4 / 3 / 5 / 4;
	overflow: auto;
}
